

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    padding: 0 20px;
    margin: 0 auto;
    width: 1240px;
    width: 100%;
}
header{
    position: fixed;
    left: 0;top: 0;
    right: 0;

}

a{
    text-decoration: none;
}

// header{
//     position: fixed;
//     top: 0;left: 0;right: 0;
// }
body{
    background-color: #5456b5;
}

header{
    background-color: #0F103F;
    nav{
        padding: 30px 0;
        .nav-links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .links{
                width: 400px;
                display: flex;
                gap: 15px;
                justify-content: space-around;
                a{
                    transition: all .5s ease;
                    color: #c8dbe088;
                    &:hover{
                        color: #ffff;
                        border-bottom: 1px solid white;
                    }
                }
            }    
            .logo{
                div{
                    font-family: Anton;
                    color: #ffff;
                    font-size: 30px;
                }
            }
            .menu-burger{
                display: none;
            }
        }
        .menu_list{
            display: none;
        }
        
    }
    
}


main{
    .about{
        .cards{
            display: flex;
            justify-content: center;
            padding-top: 350px;
            .card{
                transition: all .5s ease;
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                padding: 50px;
                padding-bottom: 30px;
                width: 500px;
                height: 500px;
                border-radius: 50%;
                background-color: #cd4df4;
                box-shadow: 0px 0px 20px #ffffff;
                h1{
                    transition: all .5 ease;
                    font-size: 40px;
                    margin-bottom: 40px;
                    color: #0F103F;
                    box-shadow: 4px 4px 10px 4px #ffff;
                    font-weight: 700;
                    &:hover{
                      box-shadow:   5px 5px 10px 5px #ffffff;
                    }
                }
                p{
                    padding-top: 20px;
                    color: #0F103F;
                    font-size: 20px;
                    font-weight: 700;
                }
                &:hover{
                    box-shadow: 0px 0px 50px #ffffff;
                }
            }
        }
    }
}

@media (max-width:680px){
    header{
        nav{
            .nav-links{
                .links{
                    display: none !important;
                    .logo{
                       display: flex;
                       justify-content: space-betwee;
                       div{
                        font-size: 26px;
                       }
                    }
                }

                .menu-burger{
                    display: block;
                    border: none;
                    background-color: transparent;
                }
            }
            
        }
    } 

    .menu{
        header{
            .menu_list{
                width: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;
                
                a{
                    transition: all .5s ease;
                    color: #c8dbe088;
                    &:hover{
                        color: #ffff;
                        border-bottom: 1px solid white;
                    }
                }
            }    
        }
    }


    main{
        .about{
            .cards{
                display: flex;
                justify-content: center;
                padding-top: 350px;
                .card{
                    transition: all .5s ease;
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    padding: 50px;
                    padding-bottom: 30px;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    background-color: #cd4df4;
                    box-shadow: 0px 0px 15px #ffffff;
                    h1{
                        transition: all .5 ease;
                        font-size: 22px;
                        margin-bottom: 40px;
                        color: #0F103F;
                        box-shadow: 4px 4px 10px 4px #ffff;
                        font-weight: 700;
                        &:hover{
                          box-shadow:   5px 5px 10px 5px #ffffff;
                        }
                    }
                    p{
                        padding-top: 20px;
                        color: #0F103F;
                        font-size: 16px;
                        font-weight: 700;
                    }
                    &:hover{
                        box-shadow: 0px 0px 50px #ffffff;
                    }
                }
            }
        }
    }
}

