*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

nav{
    background-color: #000425;
    padding: 20px 0;
    
}

.nav-links{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img{
    width: 120px;
    height: 120px;
    color: rgb(12, 229, 12);
    font-size: 28px;
    font-weight: 700;
}

.logo div span{
    color: blue;
    font-size: 28px;
    font-weight: 700;
}

.menu_list{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: transform .5s ;
   
}
a{
    transition: all .4s ease;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    /* color: #4444; */
    
}
.header-burger-btn{
   cursor: pointer;
    z-index: 2;
    display: none;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: relative;
}

.header-burger-btn span{
    transition: all .4s ease;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    position: absolute;
}
.header-burger-btn span:nth-child(1){
    transform: translateY(-10px);
}
.header-burger-btn span:nth-child(3){
    transform: translateY(10px);
}

header.open .header-burger-btn span:nth-child(2){
  display: none;
}

header.open .header-burger-btn span:nth-child(1){
    transform: translateY(0px) rotate(45deg);
  }

  header.open .header-burger-btn span:nth-child(3){
    transform: translateY(0px) rotate(-45deg);
  }
@media (max-width:800px){
    .header-burger-btn{
        display: block;
    }
    .header.open .menu_list{
       transform: translateX(200%) !important;
    }

    .menu_list{
        
        margin-top: 100px;
        text-align: center;
        height: 100%;
        position: absolute;
        width: 100%;
        right: 200%;
        top: 0;
        gap: 15px;
        background-color: #0019d394;
        padding-bottom: 30px;
        
        display: flex;
        padding: 85px 20px 20px 20px;
        align-items: center;
        flex-direction: column;
        /* padding-left: 100px; */

    }
    a{
        padding-top: 10px;
        width: 100px;
        height: 50px;
        border-radius: 10px;
    }
    a:hover{

        color: rgb(8, 8, 97);
        
        border-radius: 10px;

    }
    .logo img{
        width: 90px;
        height: 90px;
        color: rgb(12, 229, 12);
        font-size: 28px;
        font-weight: 700;
    }
   

}