

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    padding: 0 20px;
    margin: 0 auto;
    width: 1240px;
    width: 100%;
}

a{
    text-decoration: none;
}

// header{
//     position: fixed;
//     top: 0;left: 0;right: 0;
// }
body{
    background-color: #0F103F;
}

header{
    nav{
        padding: 30px 0;
        background-color: #0F103F;
        .nav-links{
            .logo{
                display: flex;
                width: 100%;
                .menu_burger{
                    display: none;
                }
                div{
                    
                    
                    font-family: Anton;
                    color: #ffff;
                    font-size: 30px;
                }
             
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            

            .links{
                width: 400px;
                display: flex;
                gap: 15px;
                justify-content: space-around;
                a{
                    transition: all .5s ease;
                    color: #c8dbe088;
                    &:hover{
                        color: #ffff;
                        border-bottom: 1px solid white;
                    }
                }
            }
        }

        
    }
    .menu_list{
     display: none ;
    }
  
   
    
}

@media (max-width:680px){
    header{
         
        .links{
            display: none !important;
        }
        .logo{
           display: flex;
           justify-content: space-between;
           .menu_burger{
            display: block !important;
           }
        }
    
        
        .menu_list{
            // display: block;
            // transform: translateX(200%);
            display: block ;
            display: flex;
            align-items: center;
            position: absolute;
            flex-direction: column !important;
            width: 500px;
            right: 0;
            gap: 30px;
           
            a{
                transition: all .5s ease;
                color: #ffc3c3;
                &:hover{
                    color: #ffff;
                    border-bottom: 1px solid white;
                }
            }
            height: 800px;
            background-color: #7274ff;
            opacity: 50%;
            padding-top: 100px;
        }

       
    }

}
